@charset "UTF-8";
/*===================*/
/*body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; }
img { border: 0 none; vertical-align: top; }
i, em { font-style: normal; }
ol, ul { list-style: none; }
input, select, button, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; color: #333; }
a:hover { text-decoration: none; }
body { margin: 0 auto; min-width: 320px; max-width: 640px; height: 100%; background: #FFF; font-size: 14px; font-family: Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Arial; line-height: 1.5; color: #666; ; background-color:#E0E0E0;}
.clear { *zoom:1 }
.clear:before, .clear:after { display:table; content:"" }
.clear:after { clear:both }
.hide{display:none;}*/

form {margin: 0;}
textarea {display: block;}

.dir-show {display:inline-block;margin-left:5px;width:300px; vertical-align: middle;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.btn-wrap {position:relative;display:inline-block;margin-bottom:10px;width:100px;}
.btn-wrap button {width:90px;height:25px;background:skyblue;border:none;border-radius:3px;color:white;font-size:14px;font-weight:bold;-webkit-user-select:none;}
.btn-wrap input {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
#pseudo-content {display:none;}

.inp-label {display:block;margin-bottom:10px;}